*{
font-family: Helvetica, Arial, sans-serif;

}
body{
font-family: Lucida Grande, Tahoma, Verdana, Arial, sans-serif;
width: 94.88%;
min-width: 505px;
margin: auto;
padding:0;
font-size:100%;
}
@media only screen and (max-width:1150px)
{
body{
    font-size: 80%;
}
}
@media only screen and (max-width:767px)
{
body{
    font-size: 60%;
}
}
/*---------------Header---------------*/
header{
background-color: rgb(59,89,152);
width: 100%;
height:88px;
border-bottom:1px solid rgb(19,55,131);
position: relative;
}
#leftlogo
{
    margin-top: 28px;
    float:left;
    width: 13.28%;
    margin-left: 15%;
    margin-right: 8.36%; 
}
#leftlogo img
{
    max-width: 100%;
}
#reg
{
   float:left;
   position: absolute;
   right: 15%;
   /*width: 405px;419px*/
   /*width: 31.64%;*/
   width: 32.73%;
   margin-top: 13px;
   margin-left: 20%; 
}
#reg:after{

content:"";
clear: both;
}
#eop,#psw
{
  float: left;
  width:37.47%;
  /*width:37.03%;*/
  /*width: 150px155;
  margin-right: 15px;*/
  margin-right: 3.57%;
  display: block;
}
#eop input, #psw input
{
  width: 98.726%;
  height: 1.4375em;
  /*height: 23px;*/
  border: 1px solid blue;
}
#eop label, #psw label
{
   width: 98.726%;
   margin-right: 3.57%;
   /*margin-right: 7px;*/
   color: white;
   font-size: 0.65em;
}
#login
{
   float:left;
   width: 17.66%;
   height: 1.375em;
   /*width: 74px;
   height: 22px;*/
   margin-top: 20px;
   border: 1px solid blue;
   text-align: center;
   color: white;
   background-color: blue;
   font-size: 0.65em;
}
#login:after
{
    content:"";
    clear: both;
}
#reg p 
{
padding-left: 42.95%;
font-size: 0.7em;
color:white;
margin:0;
}
/*--------Main--------------*/
main{
width: 100%;
height: 630px;
background: -webkit-linear-gradient(top, rgba(255,0,0,0), rgba(214,219,234,1)); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(bottom, rgba(255,0,0,0), rgba(214,219,234,1)); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(bottom, rgba(255,0,0,0), rgba(214,219,234,1)); /* For Firefox 3.6 to 15 */
background: linear-gradient(to bottom, rgba(255,0,0,0), rgba(214,219,234,1)); /* Standard syntax (must be last) */
}
#leftside
{
 float:left;
 height: 632px;
 width: 35%;
 margin-left: 5%;
 margin-right:8%;
}
#leftside img 
{
  max-width: 100%;    
}
#leftside p
{
 font-size: 1.2em;
 font-weight: bold;
    
}
#rightside
{
    float: left;
    height: 632px;
    width: 35%;
    /*width: 415px;*/
}
#rightside p
{
    font-size: 1em;
}
#reg2
{
  margin-top: 30px;
  margin-left:0;
}
#lastname
{
  width: 46%;
  /*width: 192px;*/
  border: 1px solid rgb(189,199,216);
  font-size: 1.5em;
  /*height: 2.375em;*/
  /*height: 38px;*/
  margin-right: 1.45%;
  /*margin-bottom: 14px;*/
  margin-bottom: 0.8em;
  border-radius: 3px;
}
#firstname
{
  width: 46.265%;
  font-size: 1.5em; 
  /*width:192px;
  height: 38px;*/
  border: 1px solid rgb(189,199,216);
  margin-bottom: 0.8em;
  border-radius: 3px;
}
#firstemail, #secondemail,#newpassword
{
width:95.9%;
font-size: 1.5em; 
/*width: 398px;
height:38px;*/
border: 1px solid rgb(189,199,216);
margin-bottom: 0.8em;
border-radius: 3px;
}
#date
{
  display:block;
  font-size: 1em;
  margin-bottom: 0.75em; /*10*/
}
#sdate
{
    width: 14.21%;
    font-size: 1em;
    /*height:21px;
    width: 59px;*/
    border: 1px solid rgb(189,199,216);
    margin-right: 5px;
    margin-bottom: 1.65em; /*22*/
}
#smonth
{
    width: 20%;
    /*height:21px;
    width: 83px;*/
    border: 1px solid rgb(189,199,216);
    margin-right: 5px;
    margin-bottom: 1.65em;
    font-size: 1em;
}
#syear
{
    width: 13.73%;
    /*height:21px;
    width: 57px;*/
    border: 1px solid rgb(189,199,216);
    margin-right: 5px;
    margin-bottom: 1.65em;
    font-size: 1em;
}
#signup
{
    border: 1px solid rgb(59,110,34);
    border-radius:3px;
    background-color: rgb(99,164,80);
    text-align:center;
    color:white;
    height:37px;
    width:192px;
    margin-top: 6em; /*82*/
    margin-bottom: 6em;
}
/*-----------------------------*/
footer
{
    width:100%;
}
#languages
{
   width: 90%; 
   margin-left: auto;
   margin-right: auto;

}
#languages ul
{
  float: left;
  width: 100%;
  padding:0;
  margin:0;
  list-style-type: none;
  
}
#languages ul li {
    float: left;
    font-size: 0.8em;
    margin-left: 5px;
}
#languages ul:after{
    content:"";
    clear: both;
}
.end{
    margin-top: 20px;
    margin-left: 15px;
}
